<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container mt-5">
    <h1>Friends Overview</h1>

    <div class="card mt-3">
        <div class="card-header">
            <h5>Add a new friendship!</h5>
        </div>
        <div class="card-body">

        </div>
    </div>

</div>

</body>
</html>