<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} "/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container mt-5">

    <div class="card mt-3">
        <div class="card-header">
            <h1>Friends Overview</h1>
        </div>
        <div class="card-body">
            <p>Bellow you can see, wall of your friends. The first table shows persons, that you are friends with. The second one shows people that added you as a friend.</p>
        </div>
    </div>

    <div class="container mt-5">
        <h1>People I am friends with:</h1>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Friend First Name</th>
                <th scope="col">Friend Last Name</th>
                <th scope="col">Friends since</th>
                <th scope="col">Cancel Friendship</th>
                <th scope="col">Send Email</th>
                <th scope="col">Send Joke</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="friend : ${friendsListActive}">
                <td th:text="${friend.getId_friend()}"></td>
                <td th:text="${@friendsToPersonService.getPerson(friend.getEmail_p_friend()).getFirst_name()}"></td>
                <td th:text="${@friendsToPersonService.getPerson(friend.getEmail_p_friend()).getLast_name()}"></td>
                <td th:text="${#temporals.format(friend.getFs_start_date(), 'dd.MM.yyyy')}"></td>
                <td>
                    <form action="#" th:action="@{/friends/cancel/} + ${friend.getId_friend()}" method="post">
                        <button class="btn btn-white" th:id="'table_entry_childs_button_' + ${friend.getId_friend()}" type="submit">
                            <i class="fas fa-user-minus"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="#" th:action="@{/friends/sendMail/} + ${{friend.getEmail_p_initiator()}} + '/' + ${{friend.getEmail_p_friend()}}" method="get">
                        <button class="btn btn-white" th:id="'table_entry_childs_button_' + ${friend.getId_friend}" th:disabled="${friend.is_timed_out()}" type="submit">
                            <i class="fas fa-envelope-square"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="#" th:action="@{/friends/sendJoke/} + ${{friend.getEmail_p_initiator()}} + '/' + ${{friend.getEmail_p_friend()}}" method="post">
                        <button class="btn btn-white" th:id="'table_entry_childs_button_' + ${friend.getId_friend}" th:disabled="${friend.is_timed_out()}" type="submit">
                            <i class="far fa-smile-wink"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container mt-5">
        <h1>People that are friends with me:</h1>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Friend First Name</th>
                <th scope="col">Friend Last Name</th>
                <th scope="col">Friends since</th>
                <th scope="col">Send Email</th>
                <th scope="col">Set Timeout</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="friend : ${friendsListPassive}">
                <td th:text="${friend.getId_friend()}"></td>
                <td th:text="${@friendsToPersonService.getPerson(friend.getEmail_p_initiator()).getFirst_name()}"></td>
                <td th:text="${@friendsToPersonService.getPerson(friend.getEmail_p_initiator()).getLast_name()}"></td>
                <td th:text="${#temporals.format(friend.getFs_start_date(), 'dd.MM.yyyy')}"></td>
                <td>
                    <form action="#" th:action="@{/friends/sendMail/} + ${{friend.getEmail_p_friend()}} + '/' + ${{friend.getEmail_p_initiator()}}" method="get">
                        <button class="btn btn-white" th:id="'table_entry_childs_button_' + ${friend.getEmail_p_initiator()}" type="submit">
                            <i class="fas fa-envelope-square"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="#" th:action="@{/friends/timeout/} + ${{friend.getId_friend}}" method="post">
                        <input type="checkbox" onclick="submit();" th:checked="${friend.is_timed_out} ? 'checked'">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>