<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container mt-5">

    <div class="card mt-3">
        <div class="card-header">
            <h1>Friends Overview</h1>
        </div>
        <div class="card-body">
            <p>Bellow you can see, wall of your friends. The first table shows persons, that you are friends with. The second one shows people that added you as a friend.</p>
        </div>
    </div>

</div>

</body>
</html>