<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Friendsify-Home</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container mt-5" th:fragment="home">
    <div class="jumbotron">
        <h1 class="display-4">Hello <span th:text="${userFirstName}"></span> <span th:text="${userLastName}"></span></h1>
        <p class="lead">Welcome to the one and only network for lonely informatics students. Since the rona enforced young geeks to be even more isolated from the real
            world, Friendsify will bring you back into the world of social interaction. At least via the net...
        </p>
        <hr class="my-4">
        <p>Add new people to our network, connect to them and send them bad informatics jokes.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" th:href="@{/persons}" role="button">Get started!</a>
        </p>
    </div>

    <div class="card mt-5" id="weather-data">
        <div class="card-header">
            <h3>Weather in <span th:text="${location}"></span></h3>
        </div>
        <div class="card-body">
            <span>Current temperature: </span><b th:text="${weatherResult.getTemperature()}"></b><span>° C</span><br>
            <span>MIN temperature: </span><b th:text="${weatherResult.getTemperatureMin()}"></b><span>° C</span><br>
            <span>MAX temperature: </span><b th:text="${weatherResult.getTemperatureMax()}"></b><span>° C</span><br>
            <span>Humidity: </span><b th:text="${weatherResult.getHumidity()}"></b><span> %</span><br>
            <span>Pressure: </span><b th:text="${weatherResult.getPressure()}"></b><span> Pa</span><br>
            <span>WindSpeed: </span><b th:text="${weatherResult.getWindSpeed()}"></b><span> mph</span><br>
            <span>Description: </span><b th:text="${weatherResult.getDescription()}"></b><br>
        </div>
    </div>

    <div class="card mt-5" id="joke-of-the-day">
        <div class="card-header">
            <h3>Joke for you</h3>
        </div>
        <div class="card-body">
            <b id="joke-text" th:text="${joke}"></b>
        </div>
    </div>
</div>

</body>
</html>