<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Friendsify-Home</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container mt-5" th:fragment="home">
    <div class="jumbotron">
        <h1 class="display-4">Hello <span th:text="${userFirstName}"></span> <span th:text="${userLastName}"></span></h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" th:href="@{/persons}" role="button">Get started!</a>
        </p>
    </div>
</div>

</body>
</html>