<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container mt-5">
    <h1>Person Details</h1>

    <div class="card mt-3">
        <div class="card-header">
            <h3 th:text="${selectedPerson.getFirstName() + ' ' + selectedPerson.getLastName()}"></h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <strong>E-Mail:</strong>
                </div>
                <div class="col-md-6">
                    <p th:text="${selectedPerson.getEmail()}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong>Birthday:</strong>
                </div>
                <div class="col-md-6">
                    <p th:text="${#temporals.format(selectedPerson.getBirthday(), 'dd.MM.yyyy')}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong>Age:</strong>
                </div>
                <div class="col-md-6">
                    <p th:text="${personAge}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong>City:</strong>
                </div>
                <div class="col-md-6">
                    <p th:text="${selectedPerson.getCity()}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong>GeoDB ID:</strong>
                </div>
                <div class="col-md-6">
                    <p th:text="${selectedPerson.getId_geoDB()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>